<h1 style="margin-left: 50%;">{{title}}</h1>
<br />
<div style="display:inline-block; vertical-align: top; width: 30%; height: 100%; background-color: pink; ">
  <h1>Filters</h1>
  <p>Display top: <input type="number" [(ngModel)]="rankFilterText"></p>
  <p>Filter by title: <input type="text" [(ngModel)]="titleFilterText"></p>
  <p>Minimum rate: <input type="number" step="0.1" style="width:40px;" [(ngModel)]="minRateFilterText"></p>
  <p>Maximum rate: <input type="number" step="0.1" style="width:40px;" [(ngModel)]="maxRateFilterText"></p>
  <p>Show only good? <input type="checkbox" unchecked [(ngModel)]="isGoodBool"></p>
</div>
<div style="display: inline-block; width: 70%;">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Rank</th>
        <th>Title</th>
        <th>Full Title</th>
        <th>ImDB rating</th>
        <th>Year</th>
        <th>IsGood</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let movie of movies | titleFilter: titleFilterText | rankFilter: rankFilterText | minRateFilter: minRateFilterText | maxRateFilter: maxRateFilterText | showGoodFilter: isGoodBool">
        <td>{{movie.id}}</td>
        <td>{{movie.rank}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.fullTitle}}</td>
        <td>{{movie.imDbRating}}</td>
        <td>{{movie.year | date: 'MMM dd, yyyy' }}</td>
        <td>{{movie.isGood}}</td>
      </tr>
    </tbody>
  </table>
</div>